<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <style>
        @font-face {
            font-family: "jf-openhuninn-1.1";
            src: url("../font/jf-openhuninn-1.1.woff") format("woff"), url("../font/jf-openhuninn-1.1.ttf") format("truetype"), url("../font/jf-openhuninn-1.1.eot") format("embedded-opentype");
        }
        
        body {
            font-family: "jf-openhuninn-1.1";
        }
        
         :root {
            --mycolor1: #e2e1d1;
            --mycolor2: #d2ddd3;
            --mycolor3: #90ab8d;
            --mycolor4: #647f68;
        }
        
        .foot {
            width: 100%;
            height: 160px;
            text-align: center;
            margin: auto;
            margin-bottom: 0px;          
        }
        
        .footertext {
            font-size: 14px;
            color: white;
            margin-top: -38px;
            
        }
    </style>
</head>

<body>
    <div class="foot">
        <img src="../img/footer.svg" style="margin: auto" />
        <pre class="footertext">
連絡信箱:mountain99123@gmail.com  @2020 Mountain CO.LTD.版權所有 翻印必究</pre>
    </div>
  </body>
</html>