<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>髦登｜登入系統</title>
    <link rel="stylesheet" href="../css/member_login_2.css" />
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
    <script src="../js/jquery.min.js"></script>
</head>

<body>
    <!-- header -->
    <%- include header2.ejs %>
        <!-- form -->
        <div class="b_icon">
            <a href="/member_login" class="b_icon_2">
                <img src="../img/member_login_img/b_icon.svg" alt="" style="width: 20px" />
                <p style="padding: 0px 10px; text-decoration: none; font-size: 20px">
                    回上一頁
                </p>
            </a>
        </div>

        <div class="login">
            <form class="form_1" action="/member_login/member_login_2" method="post">
                <div class="form_2">
                    <p style="font-size: 26px; text-align: center">請使用髦登帳號登入</p>
                    <p style="color: #d8705b; text-align: center; margin-top: -5px">
                        <%= errMsg %>
                    </p>
                </div>
                <input id="form_3" type="text" name="member_acct" placeholder="髦登帳號" />
                <div class="psw-box">
                    <input id="form_4" type="text" name="member_psw" placeholder="髦登密碼" />
                    <input type="checkbox" id="psw_status" state="on">
                    <img id="invisible" src="../img/member_login_img/invisible.svg" alt="">
                </div>
                <button id="sendbtn" class="sendbtn" type="submit">送出</button>
            </form>

            <div class="form_5">
                <a href="member_login_1" id="form_5">
                    <p>忘記密碼</p>
                </a>
                <p>|</p>
                <a href="member_login_3" id="form_5">
                    <p>註冊帳號</p>
                </a>
            </div>
        </div>
        <div class="cloud">
            <img id="cloud_1" src="../img/member_login_img/cloud.svg" alt="" />
            <img id="cloud_2" src="../img/member_login_img/cloud.svg" alt="" />
        </div>
        <div class="cloud2">
            <img id="cloud_3" src="../img/member_login_img/cloud.svg" alt="" />
            <img id="cloud_4" src="../img/member_login_img/cloud.svg" alt="" />
        </div>

        <!-- footer -->
        <%- include footer.ejs %>
            <script src="../js/member_login.js"></script>
</body>

</html>